<a href="https://colab.research.google.com/github/Eduardomathias09/Python-iniciante/blob/main/Aula_Python_Iniciante_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#ATRIBUIÇÃO SIMPLES 
 
n1 = 10 
nome = 'Pedro'
salario = 1100.90
comissoes = 5800.01
flag = True

In [9]:
#ATRIBUIÇÃO COM SOMA 
numero = 100

numero = numero + 10

numero += 10

print(numero)

120

In [3]:
#ATRIBUIÇÃO COM SUBTRAÇÃO 

numero = 100

numero = numero - 10
numero -= 10

print(numero)

80

In [4]:
#ATRIBUIÇÃO COM MULTIPLICAÇÃO 
numero = 10 
numero = numero * 10
numero *= 10

print(numero)

1000

In [5]:
#ATRIBUIÇÃO COM DIVISÃO
numero = 1000
numero = numero / 10
numero /= 10

print(numero)

10.0

In [6]:
#ATRIBUIÇÃO COM MÓDULO 
numero = 1000
numero = numero % 10
numero %= 10

print(numero)

0

In [7]:
#ATRIBUIÇÃO COM EXPONENCIAÇÃO 
numero = 10
numero = numero ** 2
numero **= 2

print(numero)

10000